<script type="text/x-tmpl" id="tmpl-filter-status">
    <span class="mr-4 small text-right">Status:</span>
    <a href="#" rel="active" class="badge badge-pill badge-info statusFilter {%=(o.active_status == 'active' ? 'active': '')%}" 
        id="active">Active <span class='badge badge-light'>{%=o.active%}</span></a>
    <a href="#" rel="archive" class="badge badge-pill badge-info statusFilter {%=(o.active_status == 'archive' ? 'active': '')%}" 
        id="archive">Archive <span class='badge badge-light'>{%=o.archive%}</span></a>
    <a href="#" rel="all" class="badge badge-pill badge-info statusFilter {%=(o.active_status == 'all' ? 'active': '')%}" 
        id="all">All <span class='badge badge-light'>{%=(o.active+o.archive)%}</span></a>
</script>
<script type="text/x-tmpl" id="tmpl-filter-category">
    <span class="mr-4 small">Category:</span>
    <a href="#" rel="events" class="badge badge-pill badge-info categoryFilter {%=(o.active_category == 'events' ? 'active': '')%}" 
        id="events">events <span class='badge badge-light'>{%=o.events%}</span></a>
    <a href="#" rel="cet" class="badge badge-pill badge-info categoryFilter {%=(o.active_category == 'cet' ? 'active': '')%}" 
        id="cet">cet <span class='badge badge-light'>{%=o.cet%}</span></a>
    <a href="#" rel="src" class="badge badge-pill badge-info categoryFilter {%=(o.active_category == 'src' ? 'active': '')%}" 
        id="src">src <span class='badge badge-light'>{%=o.src%}</span></a>
    <a href="#" rel="all" class="badge badge-pill badge-info categoryFilter {%=(o.active_category == 'all' ? 'active': '')%}" 
        id="all">All <span class='badge badge-light'>{%=(o.events + o.cet + o.src)%}</span></a>
</script>

<script type="text/x-tmpl" id="tmpl-table"> 
    {%  if (o.length > 0) { 
        $.each(o, function(i, el){
            include('tmpl-table-row', el);
        });
     } else { %}
        <tr>
            <td colspan="8">No data</td>
        </tr>
    {% } %}
</script>
<script type="text/x-tmpl" id="tmpl-table-row"> 
    <tr data-category="{%=o.category%}" data-status="{%=o.status%}">
        <td>{%=o.category%}</td>
        <td><img src="svn/homepage/{%=o.filename%}" alt="{%=o.filename%}" /></td>
        <td>{%=o.created%}</td>
        <td>{%=o.expires%}</td>
        <td>{%=o.url%}</td>
        <td>{%=o.status%}</td>
        <td>{%=o.submitter%}</td>
        <td>
            <div class="actions">
                <a title="View {%=o.jiraIssue%}" href="{%=o.jiraIssue%}" target="_blank">
                    <img src='static/logo-jira.png' alt="{%=o.jiraIssue%}"/>
                </a>
                <a title='Edit file' data-toggle='modal' data-target='#editModal' data-file='{%=o.filename%}' href="#">
                    <i class='fas fa-pencil-alt'></i>
                </a>
                <a title='Delete file' data-toggle='modal' data-target='#editModal' data-file='{%=o.filename%}' href="#">
                    <i class='fa fa-times'></i>
                </a>
            </div>
        </td>
    </tr>
</script>
